*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-image: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

/* typography */
nav a {
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem;
    line-height: 1.563rem;
    letter-spacing: -0.13px;
    color: #fff;
    text-decoration: none;
}

.contact-btn {
    font-family: "Fraunces", serif;
    font-size: 0.938rem;
    line-height: 1.563rem;
    letter-spacing: -0.11px;
    color: #24303E;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    background-color: #fff;
    text-transform: uppercase;
    padding: 1rem 1.875rem;
    display: inline-block;
    margin-top: -10%;
}

.contact-btn:hover, .contact-btn:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
}

.title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.316;
    letter-spacing: 0.547rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 6.563rem;
    text-transform: uppercase;
}

.card h2 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 3.083rem;
    letter-spacing: -0.29px;
    color: #24303E;
}

.card-content h3 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 2.158rem;
    letter-spacing: -0.2px;
    color: #052C3B;
}

.card button {
    font-family: "Fraunes", serif;
    font-weight: 900;
    font-size: 0.938rem;
    line-height: 1.563rem;
    cursor: pointer;
    letter-spacing: 1px;
    color: #24303E;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.rectangle {
    width: 7.5rem;
    height: 0.625rem;
    opacity: 0.25;
    position: absolute;
    bottom: 0;
    border-radius: 1.625rem;
    mix-blend-mode: normal;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.rectangle.yellow {
    background-color: #FAD400;
}

.rectangle.pink {
    background-color: #FE7766;
}

.rectangle:hover, .rectangle:focus {
    opacity: 1;
}

.card p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: -0.13px;
    color: #808397;
}

.card-content p {
    font-size: 1rem;
    color: #24554A;
    text-align: center;
    line-height: 1.688rem;
    letter-spacing: -0.11px;
    font-family: "Barlow", sans-serif;
}

#projects h2 {
    font-family: "Fraunces", serif;
    font-size: 1.25rem;
    line-height: 1.541rem;
    letter-spacing: 0.313rem;
    text-align: center;
    color: #A7AAAD;
    text-transform: uppercase;
    margin-top: 11.25rem;
    margin-bottom: 5.063rem;
}

.testimonial p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: -0.13px;
    color: #5B636D;
}

.testimonial h3 {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 1.125rem;
    line-height: 1.387rem;
    letter-spacing: -0.13px;
}

.position {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.563rem;
    letter-spacing: -0.1px;
    color: #A7AAAD;
}

/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    padding-top: 34px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.938rem;
}

.down-arrow {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    animation: scale-up-ver-top .75s .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-top {
    0% {
        transform: scaleY(0.0);
        transform-origin: 100% 0%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: 50vw 49vw;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
    width: 100%;
    justify-items: stretch;
}

.btn-container {
    position: relative;
}

.card {
    /* padding: 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.card-design {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.card-photography {
    background-image: url("./images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-content {
    width: 50%;
    text-align: center;
    margin: 50% auto 5% auto;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 10em auto;
    text-align: center;
}

.testimonial img {
    margin: 0 auto;
    width: 4.5rem;
    border-radius: 50%;
}

.gallery {
    display: flex;
    align-items: center;
    gap: 0;
    width: 100%;
}

.gallery img {
    width: 25%;
}

footer {
    background-color: #90D4C6;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container img {
    display: inline;
}

.footer-container {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 4.5rem 0;
}

footer nav ul {
    margin: 0 auto 5.5rem auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.563rem;
    list-style: none;
}

footer nav ul a {
    color: #458D7E;
}

.social-icon {
    color: #458D7E;
    cursor: pointer;
}

footer nav ul a:hover, footer nav ul a:focus {
    color: #FFFFFF;
}

.social-icon:hover, .social-icon:focus {
    background: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin-bottom: 1rem;
}

#toggle-btn, #close-btn, .triangle {
    display: none;
}

@media screen and (max-width: 900px) {
    header nav {
        position: relative;
    }
    
    header nav ul {
        display: none;
    }

    #nav-menu.show {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 1em;
        position: absolute;
        top: 155%;
        border-top-right-radius: 1px;
        z-index: 1;
    }

    #nav-menu a {
        color: #808397;
    }

    #toggle-btn {
        display: inline;
        cursor: pointer;
    }

    #toggle-btn.hide {
        display: none;
    }

    #close-btn.show {
        display: inline;
        cursor: pointer;
    }

    .triangle.show {
        width: 0;
        height: 0;
        border-top: 8.5px solid transparent;
        border-bottom: 8.5px solid transparent;
        border-right: 20px solid #fff;
        position: absolute;
        top: 141%;
        right: 0;
        display: inline-block;
    }

    header {
        max-height: 538px;
        background-image: url("./images/mobile/image-header.jpg");
    }

    #title {
        font-size: 2.5rem;
        line-height: 3.083rem;
        letter-spacing: 0.391rem;
    }

    .contact-btn {
        background-color: #FBD600;
        color: #24303E;
    }

    .down-arrow {
        animation: rotate-scale-down 0.65s linear both;
        right: 45%;
    }

    @keyframes rotate-scale-down {
        0% {
            transform: scale(1) rotateZ(0);
        }

        50% {
            transform: scale(0.5) rotateZ(180deg);
        }

        100% {
            transform: scale(1) rotateZ(360deg);
        }
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .egg {
        order: -1;
    }

    .card {
        padding-bottom: 2em;
        width: 80%;
        text-align: center;
    }

    .card-design {
        background-image: url("./images/mobile/image-graphic-design.jpg");
        background-position: center;
    }

    .card-photography {
        background-image: url("./images/mobile/image-photography.jpg");
        background-position: top;
    }

    .rectangle {
        right: 30%;
    }

    .card-content {
        width: 80%;
    }

    .card-content:last-of-type {
        margin: 85% auto 5% auto;
    }

    #projects h2 {
        margin-top: 4rem;
    }

    .row-container {
        flex-direction: column;
        margin: 4em auto;
        gap: 2em;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .image-gallery img {
        width: 50%;
    }

    .footer-container {
        width: 90%;
        padding: 2.5rem 0;
    }

    .footer-container.logo {
        background-color: transparent;
    }
}